@import '_variables.scss';

.aboutContainer {
    display: flex;
    flex-direction: column;
    // flex-wrap: wrap;
    padding: 30px 20px;
    margin-bottom: 100px;
    &__main {
        @include mainTitleText;
        margin-top: 20px;
        margin-bottom: 80px;
    }
    &__description {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
    h1 {
        @include mainTitle;
        display: inline;
    }
    &__title {
        @include title;
        text-align: center;
        position: relative;
        margin-bottom: 50px;
        padding-bottom: 30px;
        &::after {
            content: '';
            display: block;
            width: 80px;
            height: 2px;
            background-color: $primary-color;
            position: absolute;
            left: 50%;
            transform: translateX(-50%);
            bottom: 0;
        }
    }
    &__text {
        @include aboutText;
        display: flex;
        flex-direction: column;
        gap: 40px;
    }
}

// RESPONSIVE
@media screen and (min-width: 768px) {
    .aboutContainer {
        &__main {
            // width: 100%;
            // max-width: 700px;
            text-align: center;
            align-items: center;
        }
        &__text {
            width: 100%;
            max-width: 700px;
            text-align: center;
            align-items: center;
        }
    }
}

@media screen and (min-width: 1024px) {
    .aboutContainer {
        align-items: center;

        &__main {
            width: 100%;
            max-width: 700px;
        }
    }
}
