@import '_variables.scss';

.aboutContainer {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding: 30px 20px;
    &__main {
        @include mainTitleText;
        margin-top: 20px;
        margin-bottom: 80px;
    }
    h1 {
        @include mainTitle;
        display: inline;
    }
    &__title {
        @include title;
        text-align: center;
        position: relative;
        margin-bottom: 50px;
        padding-bottom: 30px;
        &::after {
            content: '';
            display: block;
            width: 80px;
            height: 2px;
            background-color: $primary-color;
            position: absolute;
            left: 50%;
            transform: translateX(-50%);
            bottom: 0;
        }
    }
    &__text {
        @include aboutText;
        display: flex;
        flex-direction: column;
        gap: 40px;
        line-height: 2;
    }
}
