@import '_variables.scss';

.back-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 40px;
    height: 40px;
    background-color: transparent;
    color: $primary-color;
    border: none;
    border: 3px solid $pink-color;
    border-radius: 50%;
    cursor: pointer;
    z-index: 1000;
    transition: opacity 0.3s ease;
    opacity: 0;
    visibility: hidden;
    font-size: 1.5rem;

    &.visible {
        opacity: 1;
        visibility: visible;
    }
}

//RESPONSIVE
@media screen and (min-width: 768px) {
    .back-to-top {
        width: 60px;
        height: 60px;
        font-size: 2.3rem;
    }
}
