@import '_variables.scss';

.banner-container {
    position: relative;
    img {
        width: 100%;
        object-fit: cover;
        position: relative;
        z-index: 1;
    }
    &::after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 99%;
        background: rgba(31, 44, 108, 0.5);
        z-index: 2;
    }
    &__textContainer {
        position: absolute;
        display: flex;
        flex-direction: column;
        gap: 40px;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 3;
        text-align: center;
    }
    &__text {
        @include bannerText;
        span {
            color: $pink-color;
        }
    }
    &__secondaryText {
        @include bannerSecondText;
    }
}

// RESPONSIVE
@media screen and (min-width: 768px) {
}

@media screen and (min-width: 1024px) {
}
