@import '_variables.scss';

.error-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 80px;
    padding: 100px 20px;
    // padding-bottom: 200px;
    &__nbr {
        @include errorNbr;
    }
    &__text {
        @include errorText;
    }
    &__link {
        @include errorLink;
    }
}
