@import '_variables.scss';

.filter {
    position: relative;
    display: inline-block;

    &__button {
        @include filterButton;
        padding: 5px 15px;
        border: none;
        border-radius: 8px;
        cursor: pointer;
        transition: background-color 0.3s ease;

        &:hover {
            background-color: lighten($primary-color, 5%);
        }
    }

    &__list {
        position: absolute;
        top: 100%;
        left: 0;
        background-color: $light-background-color;
        list-style: none;
        padding: 0;
        margin: 0;
        width: 170px;
        border-radius: 8px;
        z-index: 1;
        max-height: 0;
        overflow: hidden;
        transition: max-height 0.3s ease-out;

        &.open {
            display: block;
            max-height: 200px;
            box-shadow: 0px 16px 15px -3px #dfd3ca;
        }
    }
    &__category {
        background: $light-background-color;
        border: none;
        padding: 10px;
        text-align: left;
        width: 100%;
        cursor: pointer;
        transition: all 0.6s ease;
        @include filterCategory;
        // text-align: center;

        &:hover {
            background-color: $dark-background-color;
        }
    }
}
