@import '_variables.scss';

.footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px 0;
    background-color: $dark-background-color;
    gap: 30px;
    &__icons {
        display: flex;
        gap: 20px;
        color: $tertiary-color;
    }
    &__link {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 60px;
        height: 60px;
        border-radius: 50%;
        border: 2px solid #435058;
        @include footerIcon;
    }
    &__text {
        @include text;
    }
}
