@import '_variables.scss';

.footerImg {
    width: 100%;
    height: auto;
    display: block;
    max-width: 500px;
    margin: 0 auto;
}
.footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 25px 0;
    background-color: $dark-background-color;
    gap: 30px;
    & p {
        @include footerText;
    }
    &__icons {
        display: flex;
        gap: 20px;
        color: $tertiary-color;
    }
    &__link {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 60px;
        height: 60px;
        border-radius: 50%;
        border: 2px solid #435058;
        @include footerIcon;
    }
    &__text {
        @include footerText;
    }
}
