@import '_variables.scss';
#projects {
    margin-top: 50px;
    margin-bottom: 100px;
}
.gallery {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    background-color: rgba($dark-background-color, 0.3);
    // margin-top: 80px;
    border-radius: 30px;
    padding: 20px;
    margin: auto;
    &__title {
        @include title;
        position: relative;
        z-index: 1;
        padding-bottom: 30px;
        text-align: center;
        &::after {
            content: '';
            display: block;
            width: 80px;
            height: 1px;
            background-color: $pink-color;
            position: absolute;
            left: 50%;
            transform: translateX(-50%);
            bottom: 0;
        }
    }
    &__cardsContain {
        display: grid;
        grid-template-columns: 1fr;
        grid-gap: 50px;
    }
    h3 {
        padding: 8px;
        @include cardTitle;
        text-align: center;
        max-height: 50px;
    }
    &__card {
        padding: 4px;
        position: relative;
        box-shadow: 0 5px 15px rgba($dark-background-color, 0.75);
        border-radius: 8px;
        background-color: $primary-color;
        width: 100%;
        max-width: 335px;
        &:hover .overlay {
            opacity: 1;
        }
        .gallery__cover {
            width: 100%;
            height: auto;
            max-height: 220px;
            border-radius: 8px 8px 0 0;
            object-fit: cover;
        }
    }
    .overlay {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: rgba(0, 0, 0, 0.7);
        display: flex;
        justify-content: center;
        align-items: center;
        opacity: 0;
        transition: opacity 0.3s ease;
        border-radius: 8px;
        flex-direction: column;
        cursor: pointer;
        button {
            background-color: $dark-background-color;
            color: $tertiary-color;
            padding: 10px 20px;
            border: none;
            cursor: pointer;
            border-radius: 8px;
            transition: background-color 0.3s ease;
            &:hover {
                background-color: lighten($dark-background-color, 5%);
            }
        }
    }
    &__moreBtn {
        margin-top: 40px;
        padding: 8px;
        border-radius: 8px;
        background-color: $primary-color;
        cursor: pointer;
        color: $primary-color;
        @include Button;
        transition: background-color 0.3s ease;
        &:hover {
            background-color: lighten($primary-color, 15%);
        }
    }
}
// RESPONSIVE
@media screen and (min-width: 768px) {
    .gallery {
        &__cardsContain {
            grid-template-columns: repeat(2, 1fr);
        }
    }
}
@media screen and (min-width: 1024px) {
    .gallery {
        // width: 80%;
        &__cardsContain {
            grid-template-columns: repeat(3, 1fr);
        }
    }
}
