@import '_variables.scss';

.loading {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgb(44, 44, 67);
    background: linear-gradient(
        135deg,
        rgba(44, 44, 67, 1) 0%,
        rgba(105, 85, 109, 1) 70%,
        rgba(123, 75, 179, 1) 100%
    );
    z-index: 9999;
    opacity: 1;
    animation: fadeOut 0.8s forwards 2.5s;
    overflow: hidden;
    p {
        @include loadingPage;
        position: relative;
        opacity: 0;
        animation: slideInThenOut 3s ease-in-out forwards;
    }
}
