@import '_variables.scss';

.profil-container {
    // display: flex;
    // justify-content: center;
    // align-items: center;
    text-align: center;

    img {
        width: 60%;
        opacity: 0.6;
        // animation: spin 5s linear infinite;
    }
}

// @keyframes spin {
//     from {
//         transform: rotateY(0deg);
//     }
//     to {
//         transform: rotateY(360deg);
//     }
// }
