@import '_variables.scss';

.resume {
    margin-top: 60px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    gap: 30px;
    &__title {
        margin-bottom: 20px;
        @include title;
        position: relative;
        padding-bottom: 30px;
        &::after {
            content: '';
            display: block;
            width: 80px;
            height: 2px;
            background-color: $primary-color;
            position: absolute;
            left: 50%;
            transform: translateX(-50%);
            bottom: 0;
        }
    }
    &__container {
        width: 100%;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        gap: 50px;
        align-items: center;

        & li {
            list-style: none;
        }
    }
    &__card {
        display: flex;
        gap: 20px;
        align-items: center;
        justify-content: center;
        img {
            width: 100px;
        }
    }
    &__companyName {
        @include resumeName;
    }
    &__info {
        margin: 5px 0 5px 0;
        @include resumeInfo;
    }
    &__jobTitle {
        margin-top: 5px;
        @include resumeJobTitle;
    }
    &__transitionCV {
        @include resumeCVText;
        margin-top: 20px;
        padding: 40px;
        background: linear-gradient(
            to top left,
            $light-background-color,
            rgba($dark-background-color, 0.3)
        );
        line-height: 2;
        position: relative;
        &::before {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 10%;
            height: 15%;
            border-top: 5px solid $dark-background-color;
            border-left: 5px solid $dark-background-color;
        }
        &::after {
            content: '';
            position: absolute;
            bottom: 0;
            right: 0;
            width: 10%;
            height: 15%;
            border-bottom: 5px solid $dark-background-color;
            border-right: 5px solid $dark-background-color;
        }
    }

    &__buttonContainer {
        display: flex;
        justify-content: center;
    }
    &__buttonCV {
        margin-top: 40px;
        padding: 8px;
        border-radius: 8px;
        background-color: $primary-color;
        cursor: pointer;
        color: $primary-color;
        @include resumeButtonCV;
        transition: background-color 0.3s ease;

        &:hover {
            background-color: lighten($primary-color, 15%);
        }
    }
}

// EDUCATION

.education {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    gap: 30px;
    &__title {
        margin-bottom: 20px;
        @include title;
        position: relative;
        padding-bottom: 40px;
        &::after {
            content: '';
            display: block;
            width: 40%;
            height: 2px;
            background-color: $primary-color;
            position: absolute;
            left: 50%;
            transform: translateX(-50%);
            bottom: 0;
        }
    }
    &__container {
        // width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        flex-wrap: wrap;
        position: relative;
        gap: 50px;
    }
    &__jobTitle {
        @include resumeName;
    }
    &__info {
        margin: 5px 0 5px 0;
        @include resumeInfo;
    }
    &__location {
        margin-top: 5px;
        @include educationLocation;
    }
}

// RESPONSIVE
@media screen and (min-width: 768px) {
    .resume {
        gap: 80px;
        // align-items: center;

        &__container {
            gap: 80px;
        }
        &__card {
            gap: 50px;
        }

        img {
            width: 100px;
            // animation: rotate 7s linear infinite;
        }
    }
    .education {
        margin-top: 80px;
        gap: 60px;
        &__container {
            text-align: center;
            gap: 80px;
        }
    }
}

@media screen and (min-width: 1024px) {
}
@keyframes rotate {
    from {
        transform: rotatey(0deg);
    }
    to {
        transform: rotatey(360deg);
    }
}

@media screen and (min-width: 1024px) {
    .resume {
        &__transitionCV {
            width: 80%;
        }
    }
}
