@import '_variables.scss';
.skills {
    margin-top: 60px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    @include skills;
    &__title {
        margin-bottom: 20px;
        @include title;
        position: relative;
        padding-bottom: 30px;
        &::after {
            content: '';
            display: block;
            width: 80px;
            height: 2px;
            background-color: $primary-color;
            position: absolute;
            left: 50%;
            transform: translateX(-50%);
            bottom: 0;
        }
    }
    &__container {
        margin-top: 20px;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        gap: 50px;
    }
    &__card {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        box-shadow: 0 4px 8px rgba($primary-color, 0.4);
        padding: 10px;
        max-width: 350px;
        width: 100%;
    }
    &__subtitle {
        margin-bottom: 20px;
        display: flex;
        justify-content: center;
        color: $secondary-color;
    }
    &__list {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        gap: 10px;
    }
    &__description {
        margin-top: 50px;
        padding: 30px;
        background: linear-gradient(
            to top left,
            $light-background-color,
            rgba($dark-background-color, 0.3)
        );
        line-height: 2;
        position: relative;
        &::before {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 10%;
            height: 15%;
            border-top: 5px solid $dark-background-color;
            border-left: 5px solid $dark-background-color;
        }
        &::after {
            content: '';
            position: absolute;
            bottom: 0;
            right: 0;
            width: 10%;
            height: 15%;
            border-bottom: 5px solid $dark-background-color;
            border-right: 5px solid $dark-background-color;
        }
    }
}
// RESPONSIVE
@media (min-width: 768px) {
    .skills {
        &__card {
            width: auto;
            box-shadow: none;
        }
    }
}
