// VARIABLES
$primary-color: #3f3f61;
$secondary-color: #978370;
$tertiary-color: #fffbf7;
$light-background-color: #fffbf7;
$dark-background-color: #dbccc1;

// MIXINS
@mixin loadingPage {
    font-size: 1rem;
    font-weight: 400;
    letter-spacing: 3px;
    @media (min-width: 769px) {
        font-size: 1.5rem;
    }
}
@mixin headerTitle {
    font-size: 0.75rem;
    font-weight: 300;
    letter-spacing: 3px;
    @media (min-width: 769px) {
        font-size: 1rem;
    }
}

@mixin menuBurger {
    font-size: 1.7rem;
}

@mixin navBar {
    font-size: 0.8rem;
    font-weight: 400;
    letter-spacing: 3px;
    color: inherit;
    @media (min-width: 769px) {
        font-size: 1.5rem;
    }
}

@mixin footerIcon {
    font-size: 1.9rem;
    color: $primary-color;
}

@mixin footerText {
    font-size: 1rem;
}

@mixin title {
    font-size: 1.75rem;
    font-weight: 300;
    letter-spacing: 3px;
    @media (min-width: 769px) {
        font-size: 1.5rem;
    }
}

@mixin aboutText {
    font-size: 0.8rem;
    font-weight: 400;
    letter-spacing: 3px;
    @media (min-width: 769px) {
        font-size: 1.5rem;
    }
}

@mixin cardTitle {
    font-size: 1rem;
    font-weight: 500;
    letter-spacing: 3px;
    color: $tertiary-color;
}

@mixin modalTitle {
    font-size: 1.5rem;
    font-weight: 500;
    letter-spacing: 3px;
    color: $secondary-color;
    // @media (min-width: 769px) {
    //     font-size: 1.75rem;
    // }
}

@mixin modalSubtitle {
    font-size: 1rem;
    font-weight: 500;
    letter-spacing: 3px;
    // @media (min-width: 769px) {
    //     font-size: 1.2rem;
    // }
}

@mixin modalText {
    font-size: 0.9rem;
    font-weight: 400;
    // letter-spacing: 3px;
    // @media (min-width: 769px) {
    //     font-size: 1rem;
    // }
}

@mixin modalLink {
    font-size: 0.8rem;
    font-weight: 400;
    letter-spacing: 3px;
    color: $tertiary-color;
    text-decoration: none;
    border-radius: 25px;
    padding: 10px 30px;
    // @media (min-width: 769px) {
    //     font-size: 1.75rem;
    // }
}

@mixin filterButton {
    font-size: 1rem;
    font-weight: 400;
    letter-spacing: 3px;
    background-color: $primary-color;
    color: $tertiary-color;
}

@mixin filterCategory {
    font-size: 0.8rem;
    font-weight: 400;
    letter-spacing: 3px;
}

@mixin skills {
    font-size: 0.8rem;
    font-weight: 400;
    letter-spacing: 3px;
}

@mixin resumeName {
    font-size: 0.9rem;
    font-weight: 700;
    letter-spacing: 3px;
    color: $secondary-color;
    text-transform: uppercase;
}
@mixin resumeInfo {
    font-size: 0.6rem;
    font-weight: 400;
    letter-spacing: 3px;
}

@mixin resumeJobTitle {
    font-size: 0.8rem;
    font-weight: 500;
    letter-spacing: 3px;
}

@mixin resumeCVText {
    font-size: 0.8rem;
    font-weight: 400;
    letter-spacing: 3px;
    @media (min-width: 769px) {
        font-size: 0.9rem;
    }
}

@mixin resumeButtonCV {
    font-size: 0.8rem;
    font-weight: 500;
    letter-spacing: 3px;
}

@mixin educationLocation {
    font-size: 0.7rem;
    font-weight: 500;
    letter-spacing: 3px;
}
