// VARIABLES
$primary-color: #2c2c43;
$secondary-color: #69556d;
$tertiary-color: #fffbf7;
$pink-color: #e343ff;
$light-background-color: #fffbf7;
$dark-background-color: #7c6a80;

// MIXINS
@mixin loadingPage {
    font-size: 1rem;
    font-weight: 400;
    letter-spacing: 3px;
    color: $tertiary-color;
    span {
        color: $pink-color;
    }
    @media (min-width: 768px) {
        font-size: 2rem;
    }
}
@mixin menuBurger {
    font-size: 1.7rem;
}
@mixin navBar {
    font-size: 0.8rem;
    font-weight: 400;
    letter-spacing: 3px;
    color: inherit;
    @media (min-width: 1024px) {
        font-size: 0.875rem;
    }
}
@mixin footerIcon {
    font-size: 1.9rem;
    color: $tertiary-color;
}
@mixin footerText {
    font-size: 0.8rem;
    letter-spacing: 1px;
    font-weight: 500;
    color: $tertiary-color;
    @media (min-width: 768px) {
        font-size: 0.9rem;
        font-weight: 500;
        letter-spacing: 3px;
    }
}
@mixin bannerText {
    font-size: 0.7rem;
    font-weight: 700;
    letter-spacing: 3px;
    color: $tertiary-color;
    @media (min-width: 768px) {
        font-size: 1.225rem;
    }
    @media (min-width: 1024px) {
        font-size: 1.9rem;
    }
}
@mixin bannerSecondText {
    font-size: 0.7rem;
    font-weight: 300;
    letter-spacing: 5px;
    color: $tertiary-color;
    @media (min-width: 768px) {
        font-size: 1.225rem;
    }
    @media (min-width: 1024px) {
        font-size: 1.9rem;
    }
}
@mixin mainTitleText {
    font-size: 0.8rem;
    font-weight: 400;
    letter-spacing: 3px;
    line-height: 2;
}
@mixin mainTitle {
    font-size: 1rem;
    font-weight: 700;
    font-style: italic;
    letter-spacing: 3px;
    @media (min-width: 768px) {
        font-size: 1.2rem;
    }
}
@mixin title {
    font-size: 1.5rem;
    font-weight: 500;
    letter-spacing: 3px;
}
@mixin aboutText {
    font-size: 0.8rem;
    font-weight: 400;
    letter-spacing: 3px;
    line-height: 2;
    span {
        font-style: italic;
        font-weight: 700;
        font-size: 0.9rem;
        // color: $pink-color;
    }
    @media (min-width: 768px) {
        font-size: 0.9rem;
    }
}
@mixin cardTitle {
    font-size: 1rem;
    font-weight: 500;
    letter-spacing: 3px;
    color: $tertiary-color;
}
@mixin modalTitle {
    font-size: 1.5rem;
    font-weight: 500;
    letter-spacing: 3px;
    color: $secondary-color;
}
@mixin modalSubtitle {
    font-size: 1rem;
    font-weight: 500;
    letter-spacing: 3px;
}
@mixin modalText {
    font-size: 0.9rem;
    font-weight: 400;
}
@mixin modalLink {
    border-radius: 10px;
    padding: 15px 20px;
}
@mixin filterButton {
    font-size: 1rem;
    font-weight: 400;
    letter-spacing: 3px;
    background-color: $primary-color;
    color: $tertiary-color;
}
@mixin filterCategory {
    font-size: 0.8rem;
    font-weight: 500;
    letter-spacing: 3px;
}
@mixin skills {
    font-size: 0.8rem;
    font-weight: 500;
    letter-spacing: 3px;
    span {
        font-style: italic;
        font-weight: 700;
        font-size: 0.9rem;
    }
}
@mixin skillsSubtitle {
    font-size: 0.85rem;
    font-weight: 700;
    letter-spacing: 3px;
    color: $tertiary-color;
    @media (min-width: 768px) {
        font-size: 1rem;
    }
}
@mixin skillsDescription {
    font-size: 0.85rem;
    font-weight: 400;
    letter-spacing: 3px;
    span {
        font-style: italic;
        font-weight: 700;
    }
    @media (min-width: 768px) {
        font-size: 0.95rem;
        text-align: justify;
    }
}
@mixin resumeName {
    font-size: 0.9rem;
    font-weight: 700;
    letter-spacing: 3px;
    color: $secondary-color;
    text-transform: uppercase;
    @media (min-width: 1024px) {
        font-size: 1.2rem;
    }
}
@mixin resumeInfo {
    font-size: 0.7rem;
    font-weight: 400;
    letter-spacing: 3px;
    @media (min-width: 1024px) {
        font-size: 0.95rem;
    }
}
@mixin resumeJobTitle {
    font-size: 0.8rem;
    font-weight: 500;
    letter-spacing: 3px;
    @media (min-width: 1024px) {
        font-size: 1rem;
    }
}
@mixin resumeCVText {
    font-size: 0.85rem;
    font-weight: 400;
    letter-spacing: 3px;
    @media (min-width: 768px) {
        font-size: 0.95rem;
        text-align: justify;
    }
}
@mixin resumeButtonCV {
    font-size: 0.8rem;
    font-weight: 500;
    letter-spacing: 3px;
    color: $tertiary-color;
}
@mixin educationLocation {
    font-size: 0.7rem;
    font-weight: 500;
    letter-spacing: 3px;
    @media (min-width: 1024px) {
        font-size: 0.85rem;
    }
}
// Formulaire
@mixin formLabel {
    font-size: 0.8rem;
    font-weight: 400;
    letter-spacing: 3px;
    @media (min-width: 1024px) {
        font-size: 0.9em;
    }
}
@mixin formInputText {
    font-size: 0.8rem;
    font-weight: 400;
    @media (min-width: 1024px) {
        font-size: 0.95rem;
    }
}
@mixin formButton {
    font-size: 1rem;
    font-weight: 400;
    letter-spacing: 3px;
    color: $tertiary-color;
}
@mixin formErrorSuccessMsg {
    font-size: 0.75rem;
    font-weight: 400;
    letter-spacing: 3px;
    @media (min-width: 1024px) {
        font-size: 0.95rem;
    }
}
//Page 404
@mixin errorNbr {
    font-size: 6rem;
    font-weight: 700;
    letter-spacing: 3px;
    color: $secondary-color;
}
@mixin errorText {
    font-size: 1.2rem;
    font-weight: 500;
    color: $secondary-color;
    letter-spacing: 3px;
}
@mixin errorLink {
    font-size: 1rem;
    font-weight: 500;
    letter-spacing: 3px;
    color: inherit;
    color: $secondary-color;
}

//Animation loadingPage
@keyframes slideInThenOut {
    0% {
        opacity: 0;
        transform: translateX(-100%);
    }
    40% {
        opacity: 1;
        transform: translateX(0);
    }
    100% {
        opacity: 0;
        transform: translateX(100%);
    }
}

@keyframes fadeOut {
    0% {
        opacity: 1;
        visibility: visible;
    }
    90% {
        opacity: 0;
    }
    100% {
        opacity: 0;
        visibility: hidden;
    }
}

//Slide
@keyframes slide {
    from {
        transform: translateX(0);
    }

    to {
        transform: translateX(-50%);
    }
}

// Animation resume et skills
@keyframes rotate-border {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
